DesiNZC/flows/DesiNZC_Account_Update_Emissions_Opps_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Count_Cases</name>
        <label>Update Count Cases</label>
        <locationX>264</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>TokenAccTotScope1EmissionsInTco2e</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Cases.CasTotScope1EmissionsInTco2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope2LocBasedEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Cases.CasTotScope2LocBasedEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope2MktBasedEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Cases.CasTotScope2MktBasedEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotalScp3DnstrmEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Cases.CasTotalScp3DnstrmEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotalScp3UpstrmEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Cases.CasTotalScp3UpstrmEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope3EmissionsInTco2e</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Cases.CasTotScope3EmissionsInTco2e__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Count_CF</name>
        <label>Update Count CF</label>
        <locationX>264</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>TokenAccTotalScp3DnstrmEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_CFs.TotalScp3DnstrmEmissions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotalScp3UpstrmEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_CFs.TotalScp3UpstrmEmissions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope3EmissionsInTco2e</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_CFs.TotScope3EmissionsInTco2e</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_CFs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Count_Opp</name>
        <label>Update Count Opportunities</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>TokenAccTotScope1EmissionsInTco2e</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Opportunities_CF.OppTotScope1EmissionsInTco2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope2LocBasedEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Opportunities_CF.OppTotScope2LocBasedEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope2MktBasedEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Opportunities_CF.OppTotScope2MktBasedEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotalScp3DnstrmEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Opportunities_CF.OppTotalScp3DnstrmEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotalScp3UpstrmEmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Opportunities_CF.OppTotalScp3UpstrmEmissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TokenAccTotScope3EmissionsInTco2e</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Opportunities_CF.OppTotScope3EmissionsInTco2e__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Opportunities_CF</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>DesiNZC - Account Update Emissions Opps Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DesiNZC - Account Update Emissions Opps Cases</label>
    <loops>
        <name>Count_Cases</name>
        <label>Count Cases</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <collectionReference>Get_Cases_CF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Count_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Scope3_CF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_CFs</name>
        <label>Count CFs</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <collectionReference>Get_Scope3_CF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Count_CF</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Opportunities_CF</name>
        <label>Count Opportunities CF</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Count_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cases_CF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases_CF</name>
        <label>Get Cases CF</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Opportunities_CF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scope3_CF</name>
        <label>Get Scope3 CF</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_CFs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scope3CrbnFtprnt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>1644</locationY>
        <inputAssignments>
            <field>AccTotScope1EmissionsInTco2e__c</field>
            <value>
                <elementReference>TokenAccTotScope1EmissionsInTco2e</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccTotScope2LocBasedEmissions__c</field>
            <value>
                <elementReference>TokenAccTotScope2LocBasedEmissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccTotScope2MktBasedEmissions__c</field>
            <value>
                <elementReference>TokenAccTotScope2MktBasedEmissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccTotScope3EmissionsInTco2e__c</field>
            <value>
                <elementReference>TokenAccTotScope3EmissionsInTco2e</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccTotalScp3DnstrmEmissions__c</field>
            <value>
                <elementReference>TokenAccTotalScp3DnstrmEmissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccTotalScp3UpstrmEmissions__c</field>
            <value>
                <elementReference>TokenAccTotalScp3UpstrmEmissions</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-28</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TokenAccTotalScp3DnstrmEmissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TokenAccTotalScp3UpstrmEmissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TokenAccTotScope1EmissionsInTco2e</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TokenAccTotScope2LocBasedEmissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TokenAccTotScope2MktBasedEmissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TokenAccTotScope3EmissionsInTco2e</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
