DesiNZC/flows/DesiNZC_Post_Slack_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postIf</name>
        <label>postIfWon</label>
        <locationX>776</locationX>
        <locationY>456</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C05109KMKL5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>OppMsg_WON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T050V4YH51R</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>postIfLost</name>
        <label>postIflost</label>
        <locationX>1040</locationX>
        <locationY>456</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C05109KMKL5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>OppMsg_LOST</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T050V4YH51R</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>If_Opp_Won</name>
        <label>If Opp Won</label>
        <locationX>1040</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_status_Opp_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>postIf</targetReference>
            </connector>
            <label>If status Opp Won</label>
        </rules>
        <rules>
            <name>If_status_closed_lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>postIfLost</targetReference>
            </connector>
            <label>If status closed lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DesiNZC - Post Slack Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DesiNZC - Post Slack Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>If_Opp_Won</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OppMsg_LOST</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Claire :wave:,
This is *Owen Grady*, *Sustainability Manger* :net-zero-tree: at *McDuck Enterprises* :mcduck-enterprises:.
The Opportunity &lt;https://desi-nzc.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view | *{!$Record.Name}*&gt; has been closed.

Here are the :recycle: *Greenhouse Gas Emissions* :recycle: incurred during this opportunity :
Total Scope 1 Emissions (tCO2e) : *{!$Record.OppTotScope1EmissionsInTco2e__c}*
Total Scope 2 Location-Based Emissions : *{!$Record.OppTotScope2LocBasedEmissions__c}*
Total Scope 2 Market-based Emissions : *{!$Record.OppTotScope2MktBasedEmissions__c}* 
Total Scope 3 Downstream Emissions (tCO2e) : *{!$Record.OppTotalScp3DnstrmEmissions__c}*
Total Scope 3 Upstream Emissions (tCO2e) : *{!$Record.OppTotalScp3UpstrmEmissions__c}*
Total Scope 3 Emissions (tCO2e) : *{!$Record.OppTotScope3EmissionsInTco2e__c}*

We will be sending you the final version of :net-zero-tree: :net-zero-emoji: *Sustainability Report* :net-zero-emoji: :net-zero-tree: linked to this Opportunity, once the expenses have been fully submitted and validated.
Do not hesitate to share the Sustainability Report with the customer and ask them if they want to engage or even contribute with Offsetting of these emissions or by choosing the Net Zero Carbon projects of their choice on &lt;https://netzero.salesforce.com/s/|Net Zero Marketplace&gt;.

Regards,
:sustainability: The Sustainability Team :sustainability:</text>
    </textTemplates>
    <textTemplates>
        <name>OppMsg_WON</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Claire 👋
This is *Owen Grady*, *Sustainability Manger* :net-zero-tree: at *McDuck Enterprises* :mcduck-enterprises:.
🎉 *Congratulations!!* 🎉 The opportunity &lt;https://desi-nzc.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view | *{!$Record.Name}*&gt; has been closed *successfully*.

Here are the :recycle: *Greenhouse Gas Emissions* :recycle: incurred during this opportunity :
Total Scope 1 Emissions (tCO2e) : *{!$Record.OppTotScope1EmissionsInTco2e__c}*
Total Scope 2 Location-Based Emissions : *{!$Record.OppTotScope2LocBasedEmissions__c}*
Total Scope 2 Market-based Emissions : *{!$Record.OppTotScope2MktBasedEmissions__c}* 
Total Scope 3 Downstream Emissions (tCO2e) : *{!$Record.OppTotalScp3DnstrmEmissions__c}*
Total Scope 3 Upstream Emissions (tCO2e) : *{!$Record.OppTotalScp3UpstrmEmissions__c}*
Total Scope 3 Emissions (tCO2e) : *{!$Record.OppTotScope3EmissionsInTco2e__c}*

We will be sending you the final version of :net-zero-tree: :net-zero-emoji: *Sustainability Report* :net-zero-emoji: :net-zero-tree: linked to this Opportunity, once the expenses have been fully submitted and validated.
Do not hesitate to share the Sustainability Report with the customer and ask them if they want to engage or even contribute with Offsetting of these emissions or by choosing the Net Zero Carbon projects of their choice on &lt;https://netzero.salesforce.com/s/|Net Zero Marketplace&gt;.

Regards,
:sustainability: The Sustainability Team :sustainability:</text>
    </textTemplates>
</Flow>
